section {
  width: 400px;
  margin: 50px;
}

section.p {
  display: block;
}

.about {
  width: 1415px;
  height: 535px;
  padding: 10px;
  margin: 0;
  /* border-radius: 10px;
  background-color: white; */
}

h2 {
  background: #a312a6;
  border-radius: 25px;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: -10px;
  margin-bottom: -5px;
}

h3 {
  color: #f2f2f2;
  font-size: 0.9em;
}

p.first_paragraph,
p.second_paragraph,
p.third_paragraph {
  font-size: 0.8em;
  line-height: 1.5;
}

img {
  padding: 8px;
  margin-right: 20px;
  float: left;
  width: 54.6%;
}
