/* About Page*/

section {
  width: 400px;
  margin: 50px;
}

section.p {
  display: block;
}

.about {
  width: 1415px;
  height: 535px;
  padding: 10px;
  margin: 0;
}

/* Paragraphs*/
h2 {
  background: #7245b2;
  color: #f2f2f2;
  border-radius: 25px;
  margin-top: 8px;
  margin-left: 795px;
  margin-right: -10px;
  margin-bottom: -5px;
}

h3 {
  color: #a784d9;
  font-size: 1em;
  margin-top: 30px;
}

p.first_paragraph,
p.second_paragraph,
p.third_paragraph {
  font-size: 0.8em;
  line-height: 1.5;
}

/* Image */
img {
  padding: 8px;
  margin-right: 20px;
  float: left;
  width: 54.6%;
  opacity: 0.4;
}

img:hover {
  opacity: 0.9;
}

/* Footer */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
