section {
  width: 400px;
  margin: 50px;
}

section.p {
  display: block;
}

.user {
  width: 1415px;
  height: 535px;
  margin: 8px;
  border-radius: 10px;
  background-color: white;
}

p {
  color: #06041f;
  line-height: 2;
  font-size: 1em;
}

img {
  padding: 8px;
  float: left;
  width: 54.6%;
}
