/* Gameshop Flexbox */
.cont {
  width: 95%;
  margin: 0 auto;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Game Products */
.product-item {
  margin-top: 120px;
  margin-bottom: 10px;
  text-align: center;
  background: #f2f2f2;
  border-radius: 15px;
  width: 300px;
  /* border-bottom: 2px solid #f5f5f5; */
}

/* Images */
.product-item img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

/* Game Product Titles */
.product-list h3 {
  font-size: 1em;
  font-weight: bold;
  color: #06041f;
  margin: 0 0 10px 0;
}

/* Game Product Price Info */
.product-list {
  padding: 15px 0;
}

/* Price Tags */
.price_before,
.price_now {
  font-size: 1em;
  font-weight: bold;
  color: #a312a6;
  margin: 3px;
  display: block;
  margin-bottom: 12px;
}

.price_before {
  text-decoration-line: line-through;
  color: #0e1b4f;
}

/* Shopping Button */
.shop_button {
  display: inline-block;
  padding: 1px 13px 7px;
  padding-top: 6px;
  margin: 0 auto;
  background: #a312a6;
  border-radius: 10px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1em;
}
/***********способ 2*******************/
.columns:after {
  content: "";
  display: table;
  clear: both;
}
.columns .product-item {
  width: 31.3333333333%;
  float: left;
  margin: 0 1% 2%;
}
