body {
  background-color: #560bbf;
}

/* Profile Picture */
.profile_wrapper {
  padding: 100px;
}

.image-cover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: -100px 0px -125px 50px;
  object-fit: cover;
  object-position: center right;
}

.image-cover:hover {
  opacity: 0.7;
}

/* Userprofile Menu */
.sidebar {
  position: fixed;
  width: 27%;
  height: 100vh;
  background: #0e1b4f;
  font-size: 0.65em;
}

.user_menu {
  text-align: center;
  margin: 65px 0px 0px -125px;
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 2.5;
  list-style: none;
}

.user_menu a:hover {
  background: #0d1846;
}

button.dropbtn:hover {
  color: #a312a6;
}

.active a,
.active a:hover {
  color: #a312a6;
  font-weight: bold;
}

/* Dropdown Arrow */
i.fa.fa-caret-down {
  margin: 0 auto;
}

/* Profile Dropdown Menu */
.navbar {
  overflow: hidden;
  margin: 0 auto;
}

.dropdown .dropbtn {
  font-size: 2.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0 auto;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown Menu Inside */
.navbar a {
  font-size: 1.5em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0d1846;
  min-width: 150px;
  z-index: 1;
  border-radius: 5px 5px 10px 10px;
  margin: -12px 0px 0px 110px;
}

.dropdown-content a:hover {
  background-color: #081135;
  border-radius: 5px 5px 10px 10px;
  color: #a312a6;
}

.dropdown-content a {
  float: none;
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Signout Button */
i.fas.fa-sign-out-alt {
  font-size: 3em;
  color: #f2f2f2;
  margin: 100px 0px 0px 325px;
}

i.fas.fa-sign-out-alt:hover {
  color: #a312a6;
}

/* Userprofile Dashboard */
.dashboard {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
}

.info_dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Profile Text */
h2 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.5em;
  color: #f2f2f2;
  font-weight: bold;
  margin-top: 20px;
}

/* Footer */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
