/* Pawnstation Gameshop */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -50px;
  padding: 1em;
}

* {
  box-sizing: border-box;
}

.sell_games {
  text-align: center;
  color: #f2f2f2;
  font-size: 0.8em;
  margin: 25px 0px 35px 0px;
}

/* Pawnstation Gridsystem */
form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 15px;
}

form p {
  grid-column: 1 / 2;
  margin: 0;
  padding: 0px 0px 5px;
}

form label {
  display: block;
}

/* Pawnstation Form */
label.form_titles {
  margin: 0px 0px 10px 285px;
  color: #f2f2f2;
}

input.form_inputs {
  font-family: "roboto mono";
  border-radius: 20px;
  padding: 1em;
  margin: 0px 0px 0px 280px;
  height: 35px;
  width: 515px;
}

input,
textarea {
  width: 100%;
}

select#condition,
input,
textarea {
  font-family: "roboto mono";
  border-radius: 15px;
  margin: 0px 0px 0px 280px;
}

option {
  background: #cdc1dc;
  color: #0e1b4f;
}

option.choose {
  font-weight: bold;
}

#select.condition {
  padding: 0.5em;
  width: 600px;
  margin: 0px 0px 0px 325px;
  border-radius: 15px;
}

/* Image File Uploader */
.input-file-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

input#upload {
  margin-left: -5px;
}

select#condition {
  padding: 0.5em;
  width: 100%;
}

/* Upload Button */
label.upload {
  display: inline-block;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #9c159e;
  color: #f2f2f2;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  margin: 28px 0px 0px 12px;
}

/* Upload Icon */
i.fas.fa-upload {
  margin: 0px 5px 0px 5px;
}

/* CTA Pawnstation */
button.continue_sale {
  background: linear-gradient(120deg, #560bbf 0%, #a312a6 100%);
  width: 120px;
  height: 50px;
  border-radius: 20px;
  margin: 35px 0px 50px 525px;
}
