/* Signup Button */
button.signup {
  background-color: #a312a6;
  text-decoration: underline;
}

/* Checkout Boxes */
label {
  color: #f2f2f2;
  font-size: 0.8em;
}

/* Register Button */
.agreement,
p.login {
  text-align: center;
}

p.login {
  margin-top: 25px;
}

/* Terms and Privacy info */
span.terms {
  font-weight: bold;
}

span.terms:hover {
  color: #a312a6;
}

/* Login */
a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: bold;
}

a:hover {
  color: #a312a6;
}
