/* Signup Button */
button.signup {
  background-color: #a312a6;
  text-decoration: underline;
}

/* Checkout Boxes */
[type="checkbox"] {
  margin-left: -265px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Register Button */
.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
