@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One|Roboto+Mono:400,700&display=swap");

body {
  background: #0e1b4f;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto Mono";
}

/* Logo */
.header h1 {
  top: 0px;
  margin: 0px 10px;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #f2f2f2;
}

/* Top Navigation */
.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #06041f;
  color: #f2f2f2;
}

.container {
  position: relative;
  margin: 0px 50px;
  width: 94%;
  max-width: 1000px;
}

nav {
  position: fixed;
  top: -15px;
  right: 25px;
}

/* Main Menu */
nav ul li {
  float: left;
  list-style: none;
}

/* Links */
nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 35px;
  margin-right: 15px;
  margin-left: -70px;
}

li a:hover {
  text-decoration: line-through;
  color: #a312a6;
}

/* Search Bar */
input {
  background-color: #f2f2f2;
  height: 23px;
  width: 500px;
  margin-right: 60px;
  margin-left: -25px;
  border-radius: 10px;
  border: none;
  font-family: "roboto mono";
}

/* User Profile */
button {
  font-family: "Roboto Mono";
  background-color: #560bbf;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 11px;
  cursor: pointer;
}

button.login {
  background-color: #d7b9ff;
  color: #1d073c;
  font-weight: bold;
}

/* Navbar Icons */
i {
  margin: 0px 35px;
}

/* Shopping Cart */
i.fa.fa-shopping-cart {
  cursor: pointer;
}

i.fa.fa-shopping-cart:hover {
  color: #a312a6;
}

/* Header */
.welcome {
  background: url("../images/cyberpunk2077.jpg") center bottom no-repeat;
  background-size: cover;
  min-height: 92vh;
  position: relative;
}

.welcome__content {
  position: absolute;
  text-align: center;
  top: 250px;
  left: 300px;
}

.welcome__content h2 {
  color: #000000;
}

/* Welcome CTA-button */
.main-cta {
  background: linear-gradient(120deg, #a312a6 0%, #560bbf 100%);
  color: #f2f2f2;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 15px 50px;
}

.main-cta:hover {
  color: #a312a6;
  background: #f2f2f2;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  color: #f2f2f2;
  background-color: #06041f;
}
