body {
  background-color: #0e1b4f;
  color: #f2f2f2;
  font-family: Futura, sans-serif;
}

/* Header Section */
.header {
  background-image: url(../images/cyberpunk2077.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  min-height: 70vh;
  position: relative;
}

.header__content {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 100px;
}

header {
  background-color: #070f31;
}

header a {
  color: #f2f2f2;
}

.cta-games {
  background-image: linear-gradient(to right, #560bbf 51%, #9710a9 100%);
  color: #f2f2f2;
  padding: 8px 30px;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 5px;
  grid-column: 2;
  grid-row: 2;
}

/* Links */
a {
  text-decoration: none;
}
