@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One|Roboto+Mono:400,700&display=swap");

body {
  margin: 0;
  background: #0e1b4f;
  font-family: "Roboto Mono";
}

/* Navigation Bar */
.header {
  background-color: #06041f;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #06041f;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #f2f2f2;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f2f2f2;
  color: #06041f;
}

a {
  color: #000;
}

/* Logo */
.header .logo {
  color: #f2f2f2;
  display: block;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* Hamburger Menu */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Signup Button */
li.signup_button {
  background: #560bbf;
  border-radius: 20px;
  padding: -10px 10px;
}

/* Search Box */
.search-box {
  max-width: 100%;
  position: relative;
  display: flex;
  background: #f2f2f2;
  border-radius: 15px;
}

.search-input {
  font-family: "roboto mono";
  width: 100%;
  height: 10px;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
  border-right: none;
  outline: none;
  font-size: 0.8em;
  color: tomato;
  background: none;
}
.search-button {
  text-align: center;
  height: 32px;
  width: 45px;
  outline: none;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  border-radius: 0 15px 15px 0;
  border-left: none;
  background: none;
  font-size: 1em;
  border-left: 1px solid #f2f2f2;
}
.container {
  width: 50%;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Header */
.welcome {
  min-height: 0.1vh;
}

/* Headings and Sections */
h2 {
  font-size: 2.1em;
  text-align: center;
  text-transform: uppercase;
  color: #f2f2f2;
  margin-top: 85px;
  margin-bottom: 10px;
}

.boxdec {
  box-sizing: border-box;
  background-color: #a312a6;
  border-radius: 10px;
  width: 45px;
  height: 5px;
  margin-left: 738px;
  margin-bottom: 32px;
}

/* Gameshop */
.main-cta {
  background: linear-gradient(120deg, #a312a6 0%, #560bbf 100%);
  color: #f2f2f2;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 15px 50px;
  margin: 40px 660px 0px;
}

.main-cta:hover {
  color: #a312a6;
  background: #f2f2f2;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  color: #f2f2f2;
  background-color: #06041f;
}

/* Media Queries */
@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
